<ion-view view-title="Agenda - Grupo Familiar">
    <ion-content>
        <div class="item-input-inset">
            <button class="button selecionado center" ng-click="mudarPasso()" ng-disabled="passoatual > -1">
                Começar <i class="icon ion-arrow-right-b"></i>
            </button>
        </div>
        <br />
        <ion-list>
            <ion-item ng-repeat="(key, item) in passos" ng-class="{'selecionado': item.selected}">
                <div class="row">
                    <div class="col col-90">
                        <div id="progresso">
                            <div id="barra" ng-class="{'p000': item.perc < 50, 'p050': item.perc >=50 && item.perc < 75, 'p075': item.perc >= 75 && item.perc < 90, 'p090': item.perc >= 90 && item.perc < 100, 'p100': item.perc === 100}" style="{{ 'width: ' + item.perc + '%' }}"></div>
                        </div>
                    </div>
                    <div class="col col-10 text-right">
                        <span id="tempo" style="font-weight: bold" ng-class="{'p000': item.perc < 50, 'p050': item.perc >=50 && item.perc < 75, 'p075': item.perc >= 75 && item.perc < 90, 'p090': item.perc >= 90 && item.perc < 100, 'p100': item.perc === 100}">
                            {{item.tempoform}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-70">
                        <h2>{{item.titulo}}
                            <a href="" ng-click="abrirPasso(key);" title="Detalhes" class="tamanho21">
                                <i class="icon ion-information-circled"></i>
                            </a>
                        </h2>
                        <p>
                            <i class="icon ion-android-time tamanho21"></i> {{item.duracao}} minutos
                        </p>
                    </div>
                    <div class="col col-30 text-right">
                        <button class="botaocirc tamanho21" ng-click="key == passoatual ? mudarPasso() : ''" title="{{item.oktitle}}" ng-show="key <= passoatual"><i class="icon {{item.okico}}"></i></button>
                        &nbsp;
                        <button class="botaocirc tamanho21" ng-click="pularPasso()" title="Cancelar" ng-show="key === passoatual"><i class="icon ion-skip-forward"></i></button>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <script id="templates/passodetalhe.html" type="text/ng-template">
            <div class="modal">
                <ion-header-bar class="bar-secondary bar-calm">
                    <h1 class="title">{{dadopassosel.titulo}}</h1>
                    <button class="button button-clear" ng-click="fecharPasso();">
                        <i class="icon ion-close"></i>
                    </button>
                </ion-header-bar>
                <ion-content>
                    <div class="row" style="padding-top: 20px">
                        <div class="col col-80 col-offset-10">
                            <p>
                                <i class="icon ion-android-time tamanho21"></i> <strong>Tempo de duração:</strong> {{dadopassosel.duracao}} minutos
                            </p>
                            <h4 style="font-weight: bold">Conceitos</h4>
                            <ul>
                                <li>
                                    <strong>Nome do Conceito:</strong> Texto do Conceito
                                </li>
                            </ul>
                            <h4 style="font-weight: bold">Como Fazer</h4>
                            <p>
                                Texto de como fazer o passo
                            </p>
                        </div>
                    </div>
                </ion-content>
            </div>
        </script>
    </ion-content>
</ion-view>