<ion-view padding="true">
    <ion-nav-title>Agenda - Grupo Familiar</ion-nav-title>
    <ion-content>
        <div class="item-input-inset">
            <button class="button selecionado center" ng-click="mudarPasso()" ng-disabled="passoatual > -1">
                Começar <i class="icon ion-arrow-right-b"></i>
            </button>
        </div>
        <br />
        <ion-list>
            <ion-item ng-repeat="(key, item) in passos" ng-class="{'selecionado': item.selected}">
                <progress max="{{item.duracao * 60}}" value="{{ item.segundos === (item.duracao * 60) ? item.duracao : item.segundos}}" ng-show="key <= passoatual" class="progresso"></progress>
                <div class="row">
                    <div class="col col-70">
                        <h2>{{item.titulo}}
                            <a href="#" title="Detalhes" class="tamanho21">
                                <i class="icon ion-information-circled"></i>
                            </a>
                        </h2>
                        <p>
                            <i class="icon ion-android-time tamanho21"></i> {{item.duracao}} minutos
                        </p>
                    </div>
                    <div class="col col-30 text-right">
                        <span ng-show="key <= passoatual" style="font-size: 16px; font-weight: bold">{{item.tempoform}}</span>
                        <br />
                        <a href="#" class="tamanho24" ng-click="key == passoatual ? mudarPasso() : ''" title="{{item.oktitle}}" ng-show="key <= passoatual"><i class="icon {{item.okico}}"></i></a>
                        &nbsp;
                        <a href="#" class="tamanho24" ng-click="pularPasso()" title="Cancelar" ng-show="key === passoatual"><i class="icon ion-skip-forward"></i></a>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>