<ion-view view-title="Checklist - Grupo Familiar">
    <ion-content>
        <div class="text-center" style="padding: 20px">
            <p style="font-size: 16px; font-weight: bold">
                Vamos ver se você tem todas as ferramentas para realizar o grupo familiar
            </p>
            <br />            
            <ion-list>
                <div class="item item-divider">
                    Expansão do Reino
                </div>
                <ion-checkbox>Convidou pessoas para o grupo?</ion-checkbox>
            </ion-list>
            <br />
            <ion-list>
                <div class="item item-divider">
                    Organização dos Louvores
                </div>
                <ion-checkbox>Algum levita irá ao grupo?</ion-checkbox>
                <ion-checkbox>Se não houver visita do levita, você tem um Nutrivídeo Musical?</ion-checkbox>
            </ion-list>
            <br />
            <ion-list>
                <div class="item item-divider">
                    Organização da Palavra de Deus
                </div>
                <ion-checkbox>Você tem pelo menos um Nutrivídeo?</ion-checkbox>
                <ion-checkbox>O Nutrivídeo está funcionado corretamente?</ion-checkbox>
                <ion-checkbox>Você tem Bíblias extras para emprestar no grupo?</ion-checkbox>
            </ion-list>
            <br />
            <ion-list>
                <div class="item item-divider">
                    Equipamento
                </div>
                <ion-radio>
                    Usarei TV e reprodutor de DVD de mesa
                
                    <ion-list>
                        <ion-checkbox>Minha TV está funcionando?</ion-checkbox>
                        <ion-checkbox>Meu reprodutor de DVD está funcionando?</ion-checkbox>
                    </ion-list>
                </ion-radio>
                <ion-radio>
                    Usarei meu computador (um desktop ou um all-in-one)
                    
                    <ion-list>
                        <ion-checkbox>O computador está funcionando?</ion-checkbox>
                        <ion-checkbox>O monitor está funcionando?</ion-checkbox>
                        <ion-checkbox>A caixa de som está funcionando?</ion-checkbox>
                        <ion-checkbox>O reprodutor de DVD está funcionando?</ion-checkbox>
                    </ion-list>
                </ion-radio>
                <ion-radio>
                    Usarei meu notebook
                    
                    <ion-list>
                        <ion-checkbox>O notebook está funcionando?</ion-checkbox>
                        <ion-checkbox>O reprodutor de DVD está funcionando?</ion-checkbox>
                        <ion-checkbox>O som que sai do notebook é suficiente?</ion-checkbox>
                        <ion-checkbox>Se o som do notebook não for suficiente, você tem uma caixa de som?</ion-checkbox>
                    </ion-list>
                </ion-radio>
            </ion-list>
        </div>
    </ion-content>
</ion-view>