<ion-view view-title="Grupo Familiar">
    <ion-content>
        <div class="text-center">
            <br />
            <h3>ORAÇÃO DO NOVO NASCIMENTO</h3>
            <h4>Faça esta oração em voz audível</h4>
            <br />
            <p>
                Amado Pai Celestial, em nome do Senhor Jesus Cristo, chego a Ti, pela fé, e neste momento confesso
                que sou um pecador e careço de Tua glória, eu me arrependo da minha vida de pecados em que estive 
                rejeitando a Tua graça e Te peço misericórdia e pelo Sangue de Jesus recebo o Teu perdão.
            </p>
            <p>
                Eu abro o meu coração e Te convido a fazer em mim morada permanente, eu declaro que Te aceito
                como único Senhor e Salvador da minha vida. Senhor me integra hoje no corpo de Cristo e escreve
                o meu nome no livro da vida. Eu Te agradeço e Te louvo em nome do Senhor Jesus Cristo. Amém.
            </p>
        </div>
    </ion-content>
</ion-view>