<ion-view view-title="Sobre o app - Grupo Familiar">
    <ion-content>
        <br />
        <h3>Grupo Familiar</h3>
        &copy; 2016 ...
        <br />
        <br />
        <strong>Referências bibliográficas:</strong>
        <br />
        CORPO REDATORIAL EDITORA VENTO SUL. <strong>Estabelecendo o Modelo do Monte</strong>. Novo Hamburgo: Editora Vento Sul, 2011. p. XXX-XXX
        <br />
        CORPO REDATORIAL EDITORA VENTO SUL. <strong>Portal para a Glória</strong>. 2 ed. Barueri: Editora Vento Sul, 2016. p. XXX-XXX
        <br />
        <br />
        As referências bibliográficas estão disponíveis no site da Editora Vento Sul (<a href="www.editoraventosul.com.br">www.editoraventosul</a>)
        e nos seus revendedores espalhados pelo Brasil.
    </ion-content>
</ion-view>