.center
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.selecionado
{
    background-color: #CCD6E8;
}

.continuar
{
    background-color: #E8DECC;
}

.tamanho21
{
    font-size: 21px;
}

.tamanho24
{
    font-size: 24px;
}

.progresso, .progresso75, .progresso100
{
    appearance: none;
    height: 20px;
    border: none;
}